*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(142, 202, 192);
    padding: 0 10px;
}

.wrapper{
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 30px;
    margin: 40px auto;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    color: lightseagreen;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .input_field{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.wrapper .message{
    margin-bottom: 20px;
}

.error {
    float: right;
    font-size: 10px;
    color: red;
	font-style: italic;
}

.successMsg{
    text-align: center;
}

.successMsg span{
    font-size: 14px;
    color: rgb(13, 161, 0);
}

.wrapper .form .input_field label{
    width: 200px;
    color: #757575;
    font-size: 14px;
}

.wrapper .form .input_field p{
    color: #757575;
    font-size: 14px;
}

.wrapper .form .input_field select{
    color: #757575;
    font-size: 14px;
}

.wrapper .form .input_field input[name=totalPrice],
.wrapper .form .input_field input[name=deliveryServiceCost]{
    color: #757575;
    font-size: 14px;
}

.wrapper .form .input_field label[for=gender],
.wrapper .form .input_field label[for=checkbox]{
    width: 125px;
}

.wrapper .form .input_field input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .input_field #male, .wrapper .form .input_field #female{
    width: 10%;
}

.wrapper .form .input_field input[type=checkbox]{
    width: 10%;
}

.wrapper .form .input_field .custom_select{
    width: 100%;
    position: relative;
}

.wrapper .form .input_field .custom_select select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input_field .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .input_field input:focus,
.wrapper .form .input_field select:focus,
.wrapper .form .input_field textarea:focus{
    border: 1px solid lightblue;
}

.wrapper .form .input_field input[name=deliveryServiceCost]:focus,
.wrapper .form .input_field input[name=totalPrice]:focus{
    border: 1px solid #d5dbd9;
}

.wrapper .form .input_field .btn{
    width: 14%;
    padding: 8px 5px;
    font-size: 14px;
    border: 0;
    background: lightseagreen;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 135px;
}

.wrapper .form .input_field .btn:hover{
    background: lightskyblue;
}

@media(max-width: 420px) {
    .wrapper .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;
    }
}